/* main.css */

#wrap{
	width: 100%; height: 100%; margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
}
#headBox{
	position: fixed; z-index: 10000;
	width: 100%; height: 120px;
	background-color: #fff;
	border-bottom: 2px solid #333;

}
.container{
	width: 1920px; height: 120px; margin: auto;
	padding: 30px 90px; box-sizing: border-box;
}
h1{
	float: left;
	width: 60px; height: 60px;
	background-image: url(../../img/xido/1x/Asset\ 1.png);
}
.gnb{
	float: right;
	width: 60px; height: 60px;
	background-image: url(../../img/xido/1x/Asset\ 2.png);
}

/* .gnb:hover{
	
} */
/* //#headBox ====================================================== */
.fullsize{
	width: 1920px; height: 1080px; margin: auto;
	padding: 20px; box-sizing: border-box;
}
#viewBox{
	background-color: #555;
	padding: 150px 90px 90px; box-sizing: border-box;
}
.view_area{
	width: 100%; height: 100%;
	background-color: #FF0066;
	padding: 60px; box-sizing: border-box;
	border-radius: 30px;
	text-align: center;
}
 .sub_logo{
	float: left;
	width: 260px; height: 265px;
	background-image: url(../../img/xido/1x/Asset\ 4.png);
	background-repeat: no-repeat;
}

.view_title_img{
	position: relative; top: 50px; left: 0;
	margin: auto;
	width: 750px; height: 230px;
	background-image: url(../../img/xido/1x/Asset\ 5.png);
	background-repeat: no-repeat;
} 
.view_text_area{
	margin-top: 40px;
}
.view_text_area > p{
 font-family: "gt";
 text-transform: uppercase;
 color: #fcfcfc;
 font-size: 150px;
}
 .more_btn01_w{
	display: inline-block;
	width: 300px; height: 80px;
	background-image: url(../../img/xido/1x/Asset\ 10.png);
	background-repeat: no-repeat;	
}
.view_text_area p:last-child{
	font-size: 96px;
}
/* //#viewBox ====================================================== */
h2{
	font-family: 'myriad pro';
	font-size: 96px;
	text-align: center;
	color: #333;
	padding: 120px 0 30px;
	text-transform: uppercase;
}
#recommandBox{
	position: relative;
	background-color: #fcfcfc; 
}
.recommand_area{width: 100%; height:auto; }
.recommand_cont{
	width: 100%; height: 100%;
}
.recommand_cont > ul{
	width: 1260px; height: auto; margin: auto;
}
.recommand_cont > ul > li{
	float: left; width: 378px; height: 560px;  
	margin-right: 60px;
	background-color: #fcfcfc;
  box-shadow: 0 0 1rem rgba(51, 51, 51, .7);
}
.recommand_cont > ul > li:last-child{
	margin-right: 0;
}
.list_img{
	width: 100%; height: 250px;
	background-image: url(../../img/xido/img_03.jpg); 
	background-position: 50% 50%;
	background-color: aliceblue;
}
.list_num{
	margin: auto;
	margin-top: -30px;
	width: 60px; height: 60px;
	background-color: #FF0066;
	color: #fcfcfc;
	line-height: 60px;
	font-size: 50px;
	text-align: center;
}
.list_cont{
	width: 100%; height: auto;
	padding: 20px;
	box-sizing: border-box;
}
.list_cont dt{
	font-size: 30px;
	width: auto; height: 70px;
	text-transform: uppercase;
}
.list_cont dt > div{
	float: right;
}
.list_cont dt >div>span {
	display: inline-block;
	width: 40px; height: 40px;
	background-color: #FF0066;
	border-radius: 40px;
	color: #fcfcfc;
	margin: 2px;
	font-size: 30px;
	text-align: center;
}
.list_cont dd{
	width: 100%; height: 120px;
	font-size: 22px;
	font-weight: 200;
}
.list_btn_area{
	float: right;
	width: auto; height: auto;
	text-align: center;
}
.list_btn{
	width: 160px; height: 50px;
	background-color: #FF0066;
	color: #fcfcfc;
	font-size: 26px;
	border-radius: 30px;
}

.slide_btn_area{position: absolute; top: 30%; left:0; width: 100%; height: 0px;}
.slide_btn_area > button{width: 264px; height: 370px; 
	color: #fff; font-weight: bold;
	background-color: #fcfcfc; 
	background-repeat: no-repeat;}
.next_btn{float:right; background-image: url(../../img/xido/1x/Asset\ 8.png); }
.prev_btn{float:left; background-image: url(../../img/xido/1x/Asset\ 7.png);}

.full_btn_area{
	width: auto; height: auto;
	float: right;
	margin-top: 10px;
	margin-right: 310px;
	font-size: 32px;
	line-height: 60px;
	padding: 5px; box-sizing: border-box;
}
.full_btn_area > span{
	margin-right: 10px;
}


/* //#recommandBox ====================================================== */

#graphicMainBox{
	position: relative;
	background-image: url(../../img/xido/img_02.jpg);
	
}
#graphicMainBox h3{
	font-size: 100px;
	text-transform: uppercase;
}
#graphicMainBox p{
	width: 600px; height: 120px;
}

.main_01{
	width: auto; height: auto;
	float: left;
	padding-top:300px;
	padding-left:100px; box-sizing: border-box;
	color: #f2f2f2;
}
.main_slide_btn{
	width: 330px; height: 120px;
	background-image: url(../../img/xido/1x/Asset\ 13.png);
	background-repeat: no-repeat;
}
.main_02{
	position: absolute; z-index: 100; top : 0; right: 0;
	width: 70%; height: 100%;
	float: right;
	padding-top:400px;
	padding-left:500px; 
	padding-right:100px;
	box-sizing: border-box;
	color: #333333;
	background-image: url(../../img/xido/1x/Asset\ 12.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
.main_02 h3{
	text-align: right;
}
.main_02 p{
	float: right;
}
.line_bg{
	position: absolute; z-index: 150; top: 250px; right: 70px;
	width: 850px; height: 600px;
	background-image: url(../../img/xido/1x/Asset\ 12_1.png);
	background-repeat: no-repeat;
}
.main_btn_area{
	float: right;
	width: auto; height: auto;
	padding: 20px; box-sizing: border-box;
}
/* .s_btn{} */

/* //#graphicMainBox ====================================================== */

#graphicSubBox{
	background-color: #fcfcfc;
}

.program_area{
	width: 100%; height: auto;
}
.program_list{
	width: 100%; height: auto;
}
.program_list > ul{
	width: 1340px; height: auto; margin: auto;
}
.program_list > ul > li{
	float: left;
	width: 410px; height: 234px; 
	background-color: #ddd;
	margin-right: 55px;
	margin-bottom: 55px;
	border-radius: 10px;
	padding: 150px 20px 0 150px;
	box-sizing: border-box;
}
.program_list > ul > li:nth-child(3n){
	margin-right: 0;
}
.more_btn01{
	width: 234px; height: 60px;
	background-image: url(../../img/xido/1x/Asset\ 11.png);
	background-repeat: no-repeat;
	border-radius: 50px;
}
.more_btn02{
	float: right;
	width: 80px; height: 70px;
	background-image: url(../../img/xido/1x/Asset\ 6.png);
	background-repeat: no-repeat;
}

/* //#graphicSubBox ====================================================== */

#bannerBox{
	height: 320px;
	padding: 30px;
	background-color: #FF0066;
}
#bannerBox > .sub_logo{
	margin-left: 50px;
	margin-right: 140px;
}
.banner_cont{
	float: left;
	width: 120px; height: 120px;
	background-color: #ddd;
	margin-right: 34px;
}
.banner_cont:nth-child(2n){
	height: 180px;
}

#programMainBox{
	position: relative;
	background-image: url(../../img/xido/img_04.jpg);
}
#programMainBox h3{
	font-size: 100px;
	text-transform: uppercase;
}
#programMainBox p{
	width: 600px; height: 120px;
}

#programSubBox{
	background-color: #fcfcfc;
}
#infoBox{
	height: 930px;
	background-color: #FF0066;
}
#footBox{
	height: 60px;
	background-color: #333;
}