/* rwd_03_pcfull.css */

/* design data : 960px */
@media screen and (min-width: 960px){
#headBox{
  height: 60px;
}
.head_area{
  max-width: 1200px;
  margin: auto;
}

#viewBox{
  height: 450px;
}

#contentBox{ 
  height: 210px;
  max-width: 1200px;
  margin: auto;
}

#infoBox{
  height: 540px;
  max-width: 1200px;
  margin: auto;
}

#footBox{
  height: 120px;
}
.foot_area{
  max-width: 1200px;
  margin: auto;
}
/* @media end*/
}