/* bohae_base.css*/


#wrap{width: 100%; height: 100%; margin: auto; }
/* //#wrap ======================================================*/

.full_size{
  width: auto; height: auto; max-width: 1440px;
  padding: 10px; box-sizing: border-box;
  margin: auto;
}
.full_pc{
  width: 100%; height: auto; padding: 10px; box-sizing: border-box;
}

#headBox{
  position: fixed;
  z-index: 1000;
  top:0; left: 0;
  width: 100%; height: 80px;
  padding: 10px; box-sizing: border-box;
  background-color: #072F32;
}
.container{
  width: 100%; height: 100%; margin: auto; max-width: 1440px; 
}

h1{float: left; width: 140px; height: 60px; background-color: transparent; text-align: center; line-height: 60px; color: #fcfcfc;}
.nav_box{float: right; width: auto; height: auto;}
.head_search_btn{display:none; float: right; width: 60px; height: 60px; margin-left: 10px; background-color: #fcfcfc;}

#gnb{float:right; display: none;}
#pull{display:none; float: right; 
  width: 60px; height: 60px; margin-left: 10px; text-align: center; 
  border-radius: 5px; line-height: 60px;background-color: #fcfcfc; }

/* //#headBox ======================================================*/

#viewBox{  
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  padding-top: 90px;
  box-sizing: border-box;
  background-color: #fcfcfc;
}
.view_area{
  width: 100%; 
  height: 100%;
  /*height: 320px; height: 100vw;*/
  background-color: #4ABDCE; }

/* //#viewBox ======================================================*/

#contentBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  background-color: #AFD8D8;
}
.cont_img{display: none; background-color: #66C6E5; text-align: center; padding: 30px; box-sizing: border-box;}
h2{width: 100%; height: 60px; max-width:1440px;
  margin: auto; margin-top: 30px; text-align: center; line-height: 60px; color: #fcfcfc; 
  border-radius: 5px; background-color: #1C545A;}
#contentBox > h2{position: absolute; z-index: 300; left:0; right: 0; width:300px;}

.cont_area{position:relative; z-index:50; top:60px; 
  width: 100%; height: 300px; height: 93.75vw;/*300/320*100*/ 
  padding-top:30px; box-sizing : border-box; border-radius: 5px; background-color: #fcfcfc; }
.cont_area > p {width: 100%; height: 75%; padding: 20px; box-sizing: border-box; text-align: center; background-color: transparent; }
.btn_area{text-align: center;}
.more_btn_01{width:200px; height:50px; font-size: 1.2rem; color: #fcfcfc; background-color: #1C545A;}
.more_btn_01:hover{background-color: #fcfcfc; border: 5px solid #1C545A; color: #333;}
/* //#contentBox ======================================================*/

#sojuBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  max-height: 750px;
  background-color: #fcfcfc;
}
.soju_area{width: 100%; height: 100%; padding: 20px; padding: 6.25vw; box-sizing: border-box; text-align: center;}
.soju_cont{display:inline-block; 
  width: 200px; width: 62.5vw; /*180/320*100*/ max-width: 300px;
  height: 310px; height: 96.875vw; /*180/320*100*/ max-height: 510px;
  margin-bottom:10px; background-color: #FCC762;}
.soju_02{display: none;}
.soju_03{display: none;}

.more_btn_02{width: 300px; height: 50px; background-color: #FCC762; font-size: 1.2rem;}
.more_btn_02:hover{background-color: #fcfcfc; border: 5px solid #FCC762; }
/* //#sojuBox ======================================================*/

#historyBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  background-color: #AFD8D8;
}
.history_img{display: none; padding: 30px; box-sizing: border-box; text-align: center; background-color: #66C6E5; }
#historyBox > h2{position: absolute; z-index: 100; left:0; right: 0; width:300px; }
.history_area{position:relative; z-index:50; top:60px; left:0px; 
  width: 100%; height: 300px; height: 93.75vw;/*300/320*100*/ 
  margin-top: 5px; padding-top:30px; box-sizing : border-box; border-radius: 5px; background-color: #fcfcfc; }
.history_area > p { width: 100%; height: 75%; padding: 20px; box-sizing: border-box; text-align: center; background-color: transparent; }
/* //#historyBox ======================================================*/

#baverageBox{
  width: 100%;
  height: 600px;
  height: 187.5vw;
  /*600/320*100*/
  background-color: #fcfcfc;
}
.baverage_area {width: auto; max-width: 1024px; height: auto; margin: auto; padding-top: 30px; box-sizing: border-box;}
.baverage_area > ul {width: 100%; height: auto; }
.baverage_area > ul > li {float: left; width: 48%; height: 210px; height:65.625vw; 
  margin-right: 4%; margin-bottom: 30px; border:10px solid #FCC762; box-sizing: border-box; border-radius: 10px; background-color: #fcfcfc;  }

.baverage_detail{width: 100%; height: 60%; height: 46.875vw; background-color: transparent;}
.baverage_detail > p{ width:100%; height: 100%; padding:10px; box-sizing:border-box; text-align: center; }

.more_btn_03{
  width: 100px; width: 32.25vw; max-width: 180px;
  height: 30px; height: 9.375vw; max-height: 60px;
  background-color: #FCC762; font-size: 1.2rem;
}
.more_btn_03:hover{background-color: #fcfcfc; border: 5px solid #FCC762; }
/* //#baverageBox ======================================================*/

#searchBox{ 
  display: none;
  width: 100%; height: 330px; 
  background-color: #ddd;
}
.search_area{width: 100%; height: 120px; margin-top:30px; padding: 30px 20px; box-sizing: border-box; text-align: center;}
.input_full_box{display: inline-block; width: auto; height: auto;}
.input_box{float:left; width:870px; height: 60px ; margin-right:10px; border: 2px solid #333; background-color: #fcfcfc; }
.search_btn{float:left;  width: 60px; height: 60px; background-color: #333; color: #fcfcfc; }
/* //#searchBox ======================================================*/

#snsBox{
  width: 100%; height: 300px; 
  background-color: #ddd; 
}
.sns_area{text-align: center; padding: 30px; box-sizing: border-box;}
.sns_icon{display: inline-block; width: 60px; height: 60px; margin-right: 60px; background-color: #fcfcfc;}
.sns_icon:last-child{margin-right: 0px;}
/* //#snsBox ======================================================*/

#footBox{
  width: 100%; height: 300px; 
  background-color: #072F32; 
}
.foot_area{width:100%; height:100%; padding: 10px; box-sizing: border-box;}
.foot_cont{display: inline-block; margin-bottom: 30px;}
.foot_full_box{width: 100%; height: auto; text-align: center; }
.foot_logo{width: 140px; height: 60px; line-height: 60px; font-size: 1.5em; font-weight: bold; color: #fcfcfc;}
.company_info{width: 300px; width: 93.75vw; max-width: 600px; height: 90px; background-color: rgba(255,255,255,0.5); line-height: 60px;}
.family_site_box{width: auto; height: auto;}
.family_site{float:left; width: 150px; height: 30px; margin-right:5px; background-color: #333; border: 1px solid #fcfcfc; color: #fcfcfc; line-height: 30px;}
.fnb_btn{float: left; width: 30px; height: 30px; background-color: #555; border: 1px solid #fcfcfc; color: #fcfcfc;}
/* //#footBox ======================================================*/

