/* main.css */
#gnb {
  font-family: "myriad pro", "din", "arial", "malgun gothic", "noto sand", dotum, sans-serif;
}

#headBox {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

#footBox {
  width: 100%;
  height: 300px;
  background-color: #333;
}

#wrap {
  width: 100%;
  height: 100%;
  background-color: #999;
}

#viewBox {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #777;
}

.indicator_area {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 50px;
  margin: auto;
}

.indicator {
  width: 100%;
  height: 100%;
  text-align: center;
}

.indicator li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 100%;
  background-color: #f0a;
}

.indicator li:last-child {
  margin-right: 0;
}

.product_wrap {
  width: 100%;
  height: 500px;
  background-color: #fac;
}

.pruduct_list {
  width: 800%;
  height: 100%;
  background-color: #ddd;
}

.pruduct_list li {
  float: left;
  width: 6%;
  height: 100%;
  margin-right: 0.25%;
}

.pruduct_list li:nth-child(1) {
  background-color: #333;
}

.pruduct_list li:nth-child(2) {
  background-color: #444;
}

.pruduct_list li:nth-child(3) {
  background-color: #555;
}

.pruduct_list li:nth-child(4) {
  background-color: #666;
}

.pruduct_list li:nth-child(5) {
  background-color: #777;
}