
/* bohae_tab.css*/


/* design data : 640px */
@media screen and (min-width: 640px) and (max-width: 1023px){

.head_search_btn{display: block;}

#gnb{position:fixed; z-index:1000; top: 80px; left: 0; display: block; width:100%; height:auto; background-color: #ccc;}
.menu{display:none; width:100%; height: auto;}
.menu dl{float:left; width: 100%; position: relative;}
.menu dt{width: 100%; height: 50px; font-weight: bold; padding: 5px; box-sizing: border-box;}
.menu dd{width: 100%; height: auto; display: none;}
.menu dd > ul li{width: 100%; height: 50px; padding: 5px; box-sizing: border-box;}
.menu a{display: block; width: 100%; height: 100%; background-color: #fff; text-indent: 25px; line-height: 40px;}
.menu dl:hover dd{display: block;}

#pull {display: block; }
#pull:hover+#gnb .menu,
#pull:focus+#gnb .menu{display: block;}



/* // #headBox ============================================= */

#viewBox{
  height: 750px;
  height: 117.1875vw ;
  /*750/640*100*/
  max-height: 840px;

}

/* //#viewBox ===================================*/

#contentBox{
  height: 660px;
  height: 103.125vw ;
  /*660/640*100*/
  max-height: 750px;

}
.cont_area{
  height: 540px;
  height: 84.375vw;
  max-height: 650px;
}
/* // #contentBox ================================================ */

#sojuBox{}
/* // #sojuBox ================================================ */


#historyBox{
  height: 660px;
  height: 103.125vw ;
  /*660/640*100*/
  max-height: 750px;
}
.history_area{
  height: 540px;
  height: 84.375vw;
  max-height: 650px;
}
/* // #historyBox ================================================ */

#baverageBox{
  height: 1170px;
  height: 182.8125vw ;
  /*1170/640*100*/
  max-height: 1530px;
}
.baverage_area > ul {width: 90%; margin:auto;}
.baverage_area > ul > li {height: 450px; height:70.3125vw; max-height: 628px; }
.baverage_detail{width: 100%; height: 320px; height: 50vw; max-height:540px; }
.baverage_area > ul > li:nth-child(2n) {margin-right: 0px;}
.baverage_area > ul > li:nth-child(n+2) {margin-bottom: 0px;}

/* // #baverageBox ================================================ */



/* //#searchBox ======================================================*/


/* // #snsBox ================================================ */



/* // #footBox ================================================ */


/* @media end*/
}