/* rwd_03_result_mob_v.css */

/* design data : 320px */
@media screen and (max-width: 479px){

/*#headBox{}*/

#viewBox{
  padding-top: 12.5vw;
  height: 150vw;
  /* 480/320*100 */
  min-height: 30rem;
  max-height: 720px;
}

#contentBox{
  height: 150vw;
  /* 480/320*100 */
  min-height: 30rem;
  max-height: 720px;
}


#infoBox{
  height: 150vw;
  /* 480/320*100 */
  min-height: 30rem;
  max-height: 720px;
}

#footBox{
  height: 12.5vw;
  /* 40/320*100 */
  min-height: 2.5rem;
  max-height: 60px;

}
/* @media end*/
}