/* rwd_03_result_mob_h.css */

/* design data : 480px */
@media screen and (min-width: 480px) and (max-width: 767px){

/*#headBox{}*/

#viewBox{
  height: 720px;
}

#contentBox{
  height: 720px;
}

#infoBox{
  height: 720px;
}

#footBox{
  height: 60px;
}
/* @media end*/
}