/* rwd_03_result_pc.css */

/* design data : 960px */
@media screen and (min-width: 960px){

/*#headBox{}*/

/*.headBox_container{
  max-width: 1200px;
  margin: auto;
}*/

#viewBox{
  height: 450px;
}

#contentBox{ 
  height: 210px;
  max-width: 1200px;
  margin: auto;
}

#infoBox{
  height: 540px;
  max-width: 1200px;
  margin: auto;
}
.infoBox_container{float:left; display: block; 
  width: 33.333333%; height: 100%;}
.notice_area{width: 33.33334%;}


#footBox{
  height: 120px;
}
/* @media end*/
}