/* bohae_base.css*/


#wrap{width: 100%; height: auto; }
/* //#wrap ======================================================*/

.full_size{
  padding: 10px; 
  box-sizing: border-box;
}

#headBox{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  padding: 10px; box-sizing: border-box;
  background-color: #ccc;
}
h1{float: left; width: 140px; height: 60px; background-color: #EEDF7F; }
.nav_box{float: right;}
.head_search_btn{float: left; width: 60px; height: 60px; margin-left: 10px; background-color: #EEDF7F; }
.gnb{float: right; width: 60px; height: 60px; margin-left: 10px; background-color: #EEDF7F; }
.gnb > ul > li { display: none; }
/*.gnb > ul { display: none; }*/

/* //#headBox ======================================================*/

#viewBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  max-height: 750px;
  padding-top: 90px;
  box-sizing: border-box;
  background-color: #faf;
}
.view_area{
  width: 100%; 
  height: 100%;
  /*height: 320px; height: 100vw;*/
  background-color: #EEDF7F; }

/* //#viewBox ======================================================*/

#contentBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  max-height: 750px;
  background-color: #aaf;
}
h2{width: 300px; height: 60px; margin: auto; margin-top: 30px; text-align: center;background-color: rgba(255,200,200,0.7); }
#contentBox > h2{position: absolute; z-index: 100;}
.cont_area{position:relative; z-index:50; top:60px; left:0px; width: 300px; height: 330px; /*height: 104.6875vw;*/ max-height: 665px; padding-top:30px; box-sizing : border-box;background-color: #EEDF7F; }
.cont_area > p { width: 100%; height: 85%; background-color: transparent; }
.btn_area{text-align: center;}
.more_btn_01{width:100px; height:30px; background-color: #82AFB9; }
/* //#contentBox ======================================================*/

#sojuBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  max-height: 750px;
  background-color: #faa;
}
.soju_area{width: 100%; height: 100%; text-align: center; padding: 30px;
padding: 9.375vw; box-sizing: border-box;}
.soju_cont{display:inline-block; 
  width: 180px; width: 56.25vw; /*180/320*100*/ max-width: 300px;
  height: 310px; height: 96.875vw; /*180/320*100*/ max-height: 510px;
  background-color: #FFCD31;}
.soju_02{display: none;}
.soju_03{display: none;}

.more_btn_02{width: 180px; height: 30px; background-color: #FFCD31; }
/* //#sojuBox ======================================================*/

#historyBox{
  width: 100%;
  height: 420px;
  height: 131.25vw;
  /*420/320*100*/
  max-height: 750px;
  background-color: #aaf;
}
#historyBox > h2{position: absolute; z-index: 100;}
.history_area{position:relative; z-index:50; top:60px; left:0px; width: 100%; height: 300px; height: 104.6875vw; max-height: 665px; margin-top: 5px; padding-top:30px; box-sizing : border-box; background-color: #EEDF7F; }
.history_area > p { width: 100%; height: 85%; background-color: transparent; }
/* //#historyBox ======================================================*/

#baverageBox{
  width: 100%;
  height: 600px;
  height: 187.5vw;
  /*600/320*100*/
  max-height: 1170px;
  background-color: #faa;
}
.baverage_area {width: 100%; height: 450px;}
.baverage_area > ul {margin-top: 30px;}
.baverage_area > ul > li {float: left; width: 48%; height: 210px; height:65.625vw; margin-right: 4%; margin-bottom: 30px;  background-color: #ccc; }
.baverage_area > ul > li:nth-child(2n) {margin-right: 0px;}
.baverage_area > ul > li:nth-child(n+2) {margin-bottom: 0px;}

.baverage_detail{width: 100%; height: 170px; height: 53.125vw; background-color: transparent;}
.more_btn_03{width: 100px; height: 30px; background-color: #5BB285;}

/* //#baverageBox ======================================================*/

#searchBox{ display: none;
  width: 100%; height: 100px;
  background-color: #333;
}
/* //#searchBox ======================================================*/

#snsBox{
  width: 100%;
  height: 210px;
  background-color: #aff;
}
.sns_area{text-align: center; padding: 30px; box-sizing: border-box;}
.sns_icon{display: inline-block; width: 30px; height: 30px; margin-right: 10px; background-color: #aaf;}
/* //#snsBox ======================================================*/

#footBox{
  width: 100%;
  height: 300px;
  background-color: #ccc;
}

.foot_area{width:100%; height:100%; text-align: center; padding: 10px; box-sizing: border-box;}
.foot_cont{display: inline-block; margin-bottom: 30px;}
.foot_logo{width: 140px; height: 60px; background-color: #aff;}
.company_info{width: 300px; width: 93.75vw; max-width: 500px; height: 90px; background-color: #aff;}
.family_site{width: 190px; height: 30px; background-color: #aff;}
/* //#footBox ======================================================*/

